name: Build and Push Docker Image

on:
  push:
    branches:
      - main  # Mỗi khi có push lên nhánh main sẽ tự động chạy
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Lấy mã nguồn từ repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Đăng nhập vào Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 3. Build và Push image lên Docker Hub
      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/wordsmith:latest
